.lesson{

}

.addNewExerciseBtn {
    margin: 10px;
}

.exerciseContainer {
    margin-top: 15px;
}

.exercise{
    background-color: #f4f4f4;
    border: gray 1px solid;
    border-radius: 10px;
    padding: 0 10px;
}

.thumb{
    width: 200px;
}

.errorMessage{
    color: red;
    font-weight: bold;
}