.exercise{
    background-color: #f4f4f4;
    border: gray 1px solid;
    border-radius: 10px;
    padding: 0 10px;
}

.inputGr{
    margin: 10px 0;
}

.inputGr div span{
    width: 140px;
}

.title {
    color: #5a5af7;
}