.inline{
    float:left;
    margin: 5px;
}

.textbookImg {
    grid-area: textbook-img;
}

.textbookImg img{
    width:100px;
    height: 130px;
}

.textbookTitle {
    text-align: left;
}

.textbookAuthor{
    text-align: left;
}

.textbook {
    float:left;
    margin: 10px;
    text-align:center;
    padding: 10px;
    width: 300px;
}


/*.container {*/
/*    border: black solid 1px;*/
/*    display: grid;*/
/*    !*grid-template-columns: repeat(auto-fill, minmax(200px, 200px)); !*ширина столбцов*!*!*/
/*    grid-template-columns: 200px 200px;*/
/*    grid-template-rows: 70px 70px; !*высота строки*!*/
/*    grid-template-areas: "subject-filter textbook-filter" "grade-filter lesson-filter";*/
/*    gap: 10px 20px; !*отступы строка столбец*!*/
/*    align-items: center; !*по высоте выравнивание*!*/
/*    justify-content: center;*/
/*}*/

/*.subjectFilter {*/
/*    grid-area: subject-filter;*/
/*}*/

/*.gradeFilter {*/
/*    grid-area: grade-filter;*/
/*}*/

/*.textbookFilter {*/
/*    grid-area: textbook-filter;*/
/*}*/

/*.lessonFilter {*/
/*    grid-area: lesson-filter;*/
/*}*/
