.headerContainer {
    background-color: gray;
    height: 50px;
    width: 1200px;
}

.contentContainer {
    min-height: 1200px;
}

.footerContainer {
    background-color: gray;
    height: 200px;
}

.bodyContainer{
    width: 1200px;
    margin: 0 auto;
}